/* You can add global styles to this file, and also import other style files */
@import '@angular/material/theming';

@include mat-core();
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-light-blue, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

mat-sidenav-layout {
  background: rgba(0, 0, 0, 0.03);
}

mat-sidenav {
  width: 12rem;
}

.mat-mdc-card {
  margin-bottom: 1rem;
}

.mat-mdc-card.service-item,
.mat-mdc-card.slide {
  cursor: pointer;
}

.displayButton .active {
  background: 'teal';
}

.page-title {
  margin-left: 1rem;
}

.content {
  margin: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.chordline {
  line-height: 1.8;
}

.chordline1 {
  line-height: 1.0
}

.chordline span.chord span {
  position: relative;
}

.chordline span.chord span strong {
  position: absolute;
  top: -2.1rem;
  left: 0;
  font-size: 30pt;
  font-weight: normal;
  line-height: normal;
  color: yellow;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  color: black;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-select {
  user-select: none;
}

.mat-mdc-tooltip {
  font-size: 1rem;
}
